<div class="flex " id="nav">
    <img src="/alogo.png" alt="" id="t" width="200">
    <div><a href="/" >Home</a>&nbsp;&nbsp;
        <button class="btn" id="b-abrir" onclick="abrir()">sign-in</button>  &nbsp;&nbsp;
        <a href="/">tornar se membro</a>
    </div>
    
</div>