body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color:rgb(132, 68, 7);
    margin: 10px;
}

a{
    color:  rgb(132, 68, 7);
    text-decoration: none;
}

@keyframes animacao-hover {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1); 
    }
  }
  a:hover {
    animation: animacao-hover 0.3s forwards; 
  }
  .btn:hover{
    animation: animacao-hover 0.3s forwards;
  }

.flex{
    display: flex;
   
}


#nav{
  position: fixed;
  top: 0px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid  rgb(132, 68, 7);
  align-items: center;
  background-color: white;
 margin-left: 10px;
 margin-right: 10px;

}
#nav1{
  padding-right: 50px;
}

#footer{
    text-align: center;
    width: 100%;
    color:  rgb(132, 68, 7);
    position: fixed;
    bottom: 0px;
    background-color: white;
}

.btn{
   border-style: none;
   background-color: transparent;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: medium;
   color: rgb(132, 68, 7);
   
   
}
#t{
  text-align: left;
}
.container{
  margin-top: 120px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  
}
.menu{
  display: none;
}



#box{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  height: auto;
  justify-content: space-between;
}

.card{
  width: 22%;
  margin: 10px;
  margin-top: 50px;
  height: auto;
  border-radius: 30px;
  border: 2px solid #7c0b0b;
  
}

.cardchild{
  max-width:200px;
  height: auto;
  margin: auto;
  word-wrap: break-word;
  margin-top: 20px;
}
.ld{
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: space-evenly;
 

}
.ld:nth-child(1){
  width: '40';
}
.ld:nth-child(2){
  width: '40';
}
.imagem{
 
  border-radius: 50px;
  margin: 10px;
  

}