
.text-center{
    text-align: center;
    color: rgb(132, 68, 7);
  }
  
  #lin{
    color: black;
  }
  
  .dial{
  
    border-color:  rgb(132, 68, 7);
    border-radius: 10px;
    width: 350px;
    height: auto;
   
  }
  
  #email,#senha,#sub,#user,#fechar,#bi,#endereco,#telefone{
    border-radius: 5px;
    border-color:  rgb(132, 68, 7);
    border:o.5px;
    padding: 3px;
    margin: 10px 30px 10px 10px;
    align-content: center;
    background-color: transparent;
    width: 250px;
    height: 25px;
   
  }
  #membro{
   margin: auto;
    border-style: solid rgb(132, 68, 7);
    background-color: transparent;
  }
  small{
    color: rgb(132, 68, 7);
  }
  dialog{
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0.5, 0.5); 
    z-index: 1000;
  }
  form{
      text-align: center;  
  }
  
  #area_login{
    position: absolute;
    margin-left: 37%;
   
  }
  #sub{
    margin: 0px;
    margin-top: 10px;
  }
  #fechar,#sub{
    position: relative;
    width: 150px;  
  }
  #fechar{
 margin-left: 100px;
  }
  a{
    color:  rgb(132, 68, 7);
  }



 #imagem{
   border-radius: 50px;
 }
 .imagem{
  height: 500px;
 }
 
 
  