<%- include("./partials/header.ejs") %>
<%- include("./partials/nav.ejs") %>

<?php
    echo   'stelio';
  ?>
<!-- <button class="btn" onclick="abrir()" >open</button> -->
<h2>Teste</h2>


<%- include("./partials/footer.ejs") %>